jupyter  # for quarto
pandas  # dataframes
papermill  # parameters in python quarto files
progressbar2  # pretty progress bar
requests  # api calls
pgscatalog-utils==1.3.1  # utilities for working with the PGS catalog
